{% extends 'dailydive_webapp/index.html' %}

{% block content %}
<div class="position-absolute top-50 start-50 translate-middle"  id="input-div">
  <div class="border border-white d-flex flex-column bd-highlight mb-3">
    
    <div class="p-2 bd-highlight">
      <h1>생활 활동 체크</h1>
    </div>

        <form class="form" id="myForm" action="{% url 'dailydive_webapp:solution' %}" method="POST" >
          {% csrf_token %}
        
          <div id="question-sections">
              {% for question in questions %}
                  <div class="card question-section" data-question-id="{{ question.id }}">
                      <div class="card-body">
                          <h2 class="card-title my-2">{{ question.question_text }}</h2>
                          <h5 class="my-3">{{question.sub_question}}</h5>

                            <!-- Add the hidden input field for CSRF token -->
                          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                          <div class="my-3">
                          {% for choice in question.answer_choices %}
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="question_{{ question.id }}" id="{{ question.id }}_{{ forloop.counter }}" value="{{ choice.score }}">
                                  <label class="form-check-label" for="{{ question.id }}_{{ forloop.counter }}">{{ choice.answer }}</label>
                              </div>
                          {% endfor %}
                        </div>

                          {% if question.input_before %}
                          <div class="input-text my-3">
                            <span>{{question.input_before}}</span>
                            <input class="form-text-input" type="text" name="text_input_{{ question.id }}_{{ forloop.counter }}">
                            <span>{{question.input_after}}</span>
                          </div>
                          {% endif %}
                        
                          {% if question.additional %}
                          <span>{{question.additional}}</span>
                          {% endif %}
                      </div>
                  </div>
          
              {% endfor %}
          </div>
  
          <div class="pagination flex flex-column justify-content-center align-items-center my-3">
            <div>
              <button type="button" class="btn btn-outline-light mx-3" id="previous-button">이전</button>
              <button type="button" class="btn btn-outline-light" id="next-button">다음</button>
            </div>
          <div>
            <button type="button" class="btn btn-outline-light mt-3" id="submit-button" style="display: none;" onclick="location.href={% url 'dailydive_webapp:solution' %}">제출하기</button>
          </div>
        </div>
          
      </form>
  </div>
    </div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
  const questionSections = document.querySelectorAll('.question-section');
  const previousButton = document.getElementById('previous-button');
  const nextButton = document.getElementById('next-button');
  const submitButton = document.getElementById('submit-button');
  const form = document.getElementById('myForm');
  let formValues = {};
  let answer = []

  let currentQuestionIndex = 0;
  showCurrentQuestion();

  previousButton.addEventListener('click', () => {
    if (currentQuestionIndex > 0) {
      saveCurrentAnswers();
      currentQuestionIndex--;
      showCurrentQuestion();
    }
  });

  nextButton.addEventListener('click', () => {
    if (currentQuestionIndex < questionSections.length - 1) {
      saveCurrentAnswers();
      currentQuestionIndex++;
      showCurrentQuestion();
    }
  });

  submitButton.addEventListener('click', () => {
    saveCurrentAnswers();
    console.log('Form Values:', formValues);

    const sleep = formValues.question_1 + formValues.text_input_1_1
    const exercise = formValues.question_2 + formValues.text_input_2_2
    const rest = formValues.question_3
    const diet = formValues.question_4
    const sns = formValues.question_5

    answers = [sleep, exercise, rest, diet, sns];

    // Send the answers to the server using Fetch API
    const url = "{% url 'dailydive_webapp:solution' %}";
    const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

    const data = JSON.stringify({ answers: answers });

    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrfToken 
      },
      body: data,
    })
      .then(response => response.json())
      .then(data => {
        // Handle the response from the server
        console.log(data);
      })
      .catch(error => {
        // Handle any errors
        console.error('Error:', error);
      });

  });


  function showCurrentQuestion() {
    questionSections.forEach((section, index) => {
      if (index === currentQuestionIndex) {
        section.style.display = 'block';
      } else {
        section.style.display = 'none';
      }
    });

    if (currentQuestionIndex === 0) {
      previousButton.disabled = true;
    } else {
      previousButton.disabled = false;
    }

    if (currentQuestionIndex === questionSections.length - 1) {
      nextButton.disabled = true;
    } else {
      nextButton.disabled = false;
    }

    if (currentQuestionIndex === questionSections.length - 1) {
      submitButton.style.display = 'block';
    } else {
      submitButton.style.display = 'none';
    }

  }

  function saveCurrentAnswers() {
    const currentSection = questionSections[currentQuestionIndex];
    const questionId = currentSection.dataset.questionId;

    // Retrieve values from radio inputs
    const radioInputs = currentSection.querySelectorAll('input[type="radio"]:checked');
    radioInputs.forEach((radioInput) => {
      const name = radioInput.name;
      const value = radioInput.value;

      formValues[name] = parseInt(value);
    });

    // Retrieve values from text inputs
    const textInputs = currentSection.querySelectorAll('input[type="text"]');
    textInputs.forEach((textInput) => {
      const name = textInput.name;
      let value = textInput.value;

    
      if (name === 'text_input_1_1') {
      const sleepTime = parseFloat(value);
  
      if ( sleepTime >= 7 && sleepTime <= 9) {
        value = '10';
      } else if (sleepTime >= 6 && sleepTime < 7) {
        value = '7'
      } else if (sleepTime < 6 && sleepTime > 9) {
        value = '3';
      } 
    }

  
    if (name === 'text_input_2_2') {
      const exerciseTime = parseFloat(value);

      if (exerciseTime < 15) {
        value = '5';
      } else if (exerciseTime >= 15 && exerciseTime < 30) {
        value = '7';
      } else if (exerciseTime >= 30) {
        value = '10';
      }
    }

      formValues[name] = parseInt(value);
    });
  }

  form.addEventListener('submit', (event) => {
    event.preventDefault(); 
    form.reset();
  });
});


      
</script>
<style>
  #input-div {
    color:white;
    border-style: 2px black;
    width: 50%;
    height: 50%;
    
  }
  .question-section:not(:first-child) {
  display: none;
}
  .card-body {
    background-color: #0c134f; 
  }



</style>
{% endblock %}
