{% extends 'dailydive_webapp/index.html' %}


{% block content %}

<div style='text-align:center;margin:auto;' class="position-absolute top-50 start-50 translate-middle" id="input-div">
    <!-- Content specific to this page -->
    <h1 style="width:50%; margin:auto; color:#FEFEFF">오늘 하루의 일기를 작성해 보세요!</h1>
    <hr/>
    <form class="form-inline" style="width:100%" >
        <p><textarea  class="form-control w-50 "  placeholder="오늘 있었던 일을 나눠주세요"></textarea></p><br>
        <button type="submit" class="btn btn-outline-light  float-right">SUBMIT</button>

    </form>

</div>

<style>
#input-div{
    vertical-align: middle;
    font-family: 'Gowun Dodum', sans-serif;
    width:100%;
 }
 textarea {
    margin:auto;
	width:10%;
    height: 20.25em;
    border: none;
    resize: none;
  }
</style>
{% endblock %}