{% load bootstrap5 %}
<!DOCTYPE html>
<html>
<head>
    <title>DailyDive</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body style="background-color:#0C134F">
    <!-- Common HTML content -->

    {% block content %}
    {% endblock %}

</body>
<style>
    body{
    font-family: 'Gowun Dodum', sans-serif;}
</style>
</html>