{% extends 'dailydive_webapp/index.html' %}
{% load static %}

{% block content %}
<div class="container">
    <!-- Content specific to this page -->
    <h1 style="color:#FEFEFF">솔루션 페이지 입니다</h1>

    <div class="row mb-4">
        <!-- 일기 분석 시각화 영역 -->
        <div class="col-12">
            <h2 style="color:#FEFEFF">일기 분석 시각화 영역</h2>
            <div class="card" >
                <div class="card-body">
                      <img src="data:image/png;base64, {{ chart|safe }}" alt="" id="img">

                </div>
            </div>
        </div>
    </div>
    C:\Users\user\dailydive\dailydive_webapp\static\dailydive_webapp\solution\기쁨_1.jpg
    <div class="row">
        <!-- 솔루션 영역 -->
        <div class="col-12">
            <h2 style="color:#FEFEFF">솔루션 영역</h2>
            <div class='container'>
                <div class='row'>
                    <div class="flip-card-3D-wrapper col-md-4">
                        <div class="flip-card">
                            <div class="flip-card-front">
                                <div class='card-body'> 
                                    <h4 class="text-center">Card title1</h4>
                                    <p>phrase1</p> 
                                </div>  
                            </div>
                            <div class="flip-card-back">
                                <img class="image" src="{% static selected_db_1.img_url %}">
                                <div class='card-body'>
                                    <h4>{{ selected_db_1.solution_title }}</h4> 
                                    <p class="card-text">{{ selected_db_1.solution_guide }}</p>
                                </div>   
                            </div>
                        </div>
                    </div>  
                
                    <div class="flip-card-3D-wrapper col-md-4">
                        <div class="flip-card">
                            <div class="flip-card-front">
                                <div class='card-body'> 
                                    <h4 class="text-center">Card title2</h4>
                                    <p>phrase2</p> 
                                </div>  
                            </div>
                            <div class="flip-card-back">
                                <img class="image" src="{% static selected_db_2.img_url %}">
                                <div class='card-body'>
                                    <h4>{{ selected_db_2.solution_title }}</h4> 
                                    <p class="card-text">{{ selected_db_2.solution_guide }}</p>
                                </div>    
                            </div>
                        </div>
                    </div> 
                
                    <div class="flip-card-3D-wrapper col-md-4">
                        <div class="flip-card">
                            <div class="flip-card-front">
                                <div class='card-body'> 
                                <h4 class="text-center">Card title3</h4>
                                <p>phrase3</p> 
                                </div>  
                            </div>
                            <div class="flip-card-back">
                                <img class="image" src="{% static selected_db_3.img_url %}">
                                <div class='card-body'> 
                                    <h4>{{ selected_db_3.solution_title }}</h4>
                                    <p class="card-text">{{ selected_db_3.solution_guide }}</p>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const flipCardWrapAll = document.querySelector("#flip-card-wrap-all")
    const cardsWrapper = document.querySelectorAll(".flip-card-3D-wrapper")
    const cards = document.querySelectorAll(".flip-card")
    let frontButtons = ""
    let backButtons = ""

    for (let i = 0; i < cardsWrapper.length; i++) {
        frontButtons = cardsWrapper[i].querySelector(".flip-card-front")
        frontButtons.style.visibility = "visible"
        frontButtons.onclick = function() {
            cards[i].classList.toggle('do-flip')
            }
    
        backButtons = cardsWrapper[i].querySelector(".flip-card-back")
        backButtons.style.visibility = "visible"
        backButtons.onclick = function() {
            cards[i].classList.toggle('do-flip')
            }  
    } 
</script>

<style>

.image {
    width: 100%;
    height: 70%;
}

.flip-card-3D-wrapper {
  width: 100%;
  height: 100%;
  max-width: 300px; 
  perspective: 1000px;
  margin: 10px auto;
}

.flip-card {
  height: 100%;
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
  height: 500px;
}

.do-flip {transform: rotateY(180deg);}

.flip-card-front, .flip-card-back {
  height: 100%;
  width: 120%;
  position: relative;
  backface-visibility: hidden;
  border-radius: 10px;
  border:5px solid #E80088;
}

.flip-card-front {background: #E80088;color: white;}
.flip-card-back {background: white;transform: rotateY(180deg);}
</style>
{% endblock %}

</html>