{% extends 'dailydive_webapp/index.html' %}
{% load static %}

{% block content %}
<div class="container">
    <!-- Content specific to this page -->
    <h1 style="color:#FEFEFF">솔루션 페이지 입니다</h1>

    <div class="row mb-4">
        <!-- 일기 분석 시각화 영역 -->
        <div class="col-12">
            <h2 style="color:#FEFEFF">일기 분석 시각화 영역</h2>
            <div class="card" >
                <div class="card-body">
                      <img src="data:image/png;base64, {{ chart|safe }}" alt="" id="img">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- 솔루션 영역 -->
        <div class="col-12">
            <h2 style="color:#FEFEFF">솔루션 영역</h2>
            <div class="card">
                <div class="card-body">
                    {% csrf_token %}
                    {% for i in selected_db %}
                    <img src="{% static i.img_url %}">
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

</html>